<h1>Edit Project: <%= @project.title %></h1>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input id="project_title" name="project_title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Update Project</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>

<p><a href="/projects">Return to Projects List</a></p>