<h1>Volunteer: <%= @volunteer.name %></h1>

<h4>Project: <%= @project.title %></h4>

<h3>Assign to Project:</h3>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |proj| %>
      <li><a href="/projects/<%= proj.id %>"><%= proj.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> You have no current projects.</p>
<% end %>

<p><a href="/volunteers">Return to volunteers List</a></p>
<p><a href="/projects">Go to Projects List</a></p>


